.btn {
    display: inline-block;

    text: {
        align: center;
        decoration: none;
    }

    font-size: $btn-text;
    font-weight: 700;
    border: solid 1px transparent;
    border-radius: 4px;
    padding: 22px 24px;
    color: $btn-color;
    text-transform: uppercase;
    background-color: $accent-color;
    cursor: pointer;
    transition: background-color 0.2s;
    margin: 0 auto;
}

.btn:active {
    transform: translateY(1px);
    filter: saturate(150%);
}

.btn:hover {
    color: $accent-color;
    border-color: $accent-color;
    background-color: $main-white-color;
    transition: background-color 0.2s;
}

.btn::-moz-focus-inner {
    border: none;
}

.btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px $accent-color, 0 0 0 1.5px $accent-color;
}

.js-focus-visible .btn:focus:not(.focus-visible) {
    box-shadow: none;
}

.btn-wrap {
    text-align: center;
}
