.btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: solid 1px transparent;
    border-radius: 4px;
    padding: 0.5em 1em;
    color: #ffffff;
    background-color: #9555af;
}

.btn:active {
    transform: translateY(1px);
    filter: saturate(150%);
}

.btn:hover {
    color: #9050aa;
    border-color: currentColor;
    background-color: white;
}

.btn::-moz-focus-inner {
    border: none;
}

.btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 105, 180, 0.5),
        0 0 0 1.5px rgba(255, 105, 180, 0.5);
}

.js-focus-visible .btn:focus:not(.focus-visible) {
    box-shadow: none;
}
