.heading {
    display: inline-block;
    @include font-source-sans($heading-text-s, $main-white-color, 700, 32px);
    // font-size: $heading-text-s;
    // color: $main-white-color;
    @extend %reset;
}

.heading--accent {
    display: block;
    font-size: 14px;
    color: $accent-color;
}
