.format {
    &__content {
        @include for-size(desktop-up) {
            display: flex;
            justify-content: space-between;
        }

        &-info {
            padding: 15px;

            @include for-size(desktop-up) {
                width: calc((100% - 30px) / 12 * 5);
            }
        }

        &-img {
            @include for-size(desktop-up) {
                width: calc((100% - 30px) / 12 * 7);
            }
        }
    }
}
