.lectures {
  &__list {
    @include for-size(tablet-portrait-up) {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
  }

  &__item {
    background-color: #fff;

    @include for-size(tablet-portrait-up) {
      width: calc((100% - 30px) / 2);
    }

    @include for-size(desktop-up) {
      width: calc((100% - 30px * 3) / 4);
    }

    &--acc {
      background-color: $accent-color;
    }

    &-content {
      padding: 40px 15px;
      text-align: center;
    }
  }
}
