.navigation {
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

.navigation__list {
    display: inline-block;
    @extend %reset;
}

.navigation__item {
    display: inline-block;
    margin-right: 50px;

    &:nth-last-of-type(1) {
        margin-right: 0;
    }
}

.navigation__link {
    display: inline-block;
    position: relative;
    color: $link-color;

    &::after {
        position: absolute;
        display: block;
        content: '';
        background-color: $accent-color;
        @include size(100%, 3px);
        margin: 2px auto 0;
        transition: opacity 0.2s;
    }

    &:hover::after {
        opacity: 0;
        transition: opacity 0.2s;
    }
}
