.site__header {
    @include size(100vw, auto);
    overflow: hidden;
    min-height: 700px;
    max-width: 100%;
    @include padding(40px 0);
    @include margin(null 0);

    background: {
        color: $overlay-color;
        image: linear-gradient(
                0deg,
                rgba(34, 34, 34, 0.7) 0%,
                rgba(34, 34, 34, 0.7) 100%
            ),
            url(../images/banner.png);
        size: cover;
        repeat: no-repeat;
        position: center;
    }
}

.site__logo {
    display: block;
    margin-bottom: 25px;

    @include for-size(tablet-portrait-up) {
        margin-bottom: 50px;
    }

    &--link {
        display: inline-block;
        @include size(100%, auto);
    }
}

.site__heading {
    @include font-source(36px, 600);
    @extend %reset;
    margin-bottom: 50px;
    font: {
        family: $heading-font-style;
    }
    line-height: 42px;

    color: $main-white-color;

    @include for-size(tablet-portrait-up) {
        @include font-source(54px, 600);
        line-height: 75px;
        margin-bottom: 75px;
    }
}

.site__header--content {
    @extend %reset;
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 24px;
    color: $main-white-color;

    @include for-size(tablet-portrait-up) {
        font-size: 24px;
        line-height: 1.75;
        margin-bottom: 75px;
    }
}

.site__main-content {
    font-size: 14px;
    line-height: 24px;
    color: $main-white-color;

    @include for-size(tablet-portrait-up) {
        font-size: 18px;
    }
}

.site__content {
    text-align: left;
}

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .site__header {
        background-image: url('../images/banner@2x.png');
    }
}
